* {
    font-feature-settings: "palt";
    font-family: sans-serif;
}

html {
    margin-bottom: 2em;
}

h1 {
    border: solid;
    border-width: 0 0 1px 1em;
    padding-left: 1ex;
}

a {
    text-decoration: none;
}

dt {
    float: left;
    margin: .7em 0 0 2em;
    clear: both;
    border-bottom: 1px solid;
}

dt:before {
    content: "■";
}

dd {
    float: right;
    clear: right;
    margin-top: .7em;
    margin-right: 1em;
}
